h1 {
    text-emphasis-color: blueviolet;
}

img {
    width: 600px;
    /* position: relative;
    top: 0;
    left: 0; */
}

#thirdDiv {
    height: 700px;
    width: 800px;
    background-color: blue;
    padding: 50px;
    border: 40px;
    border-color: brown;
    border-style: double;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}
